<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">

  <title>Inicio</title>
  <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
<header class="main-header">
  <div class="logo">
    <img src="/img/logo.png" alt="Logo">
  </div>

  <div class="header-right">
    <a href="#" class="actividad-link">Actividad</a>
    <input type="text" class="search-bar" placeholder="Buscar juegos...">

    <div class="user-menu">
      <img src="/img/user.png" alt="User Icon">
      <div class="user-dropdown">
        <a href="#">Perfil</a>
        <a href="#">Actividad</a>
        <a href="/logout">Logout</a>
      </div>
    </div>
  </div>
</header>

<main class="main-content">
  <h2 class="welcome-message">¡Hola, <span th:text="${session.nombreUsuario}">Usuario</span>!</h2>


  <h3 class="section-title">Juegos populares</h3>
  <section class="games-list">
    <ul id="gamesContainer">
      <li th:each="juego, iterStat : ${juegos}"
          th:classappend="${iterStat.index >= 5} ? 'hidden-game'"
          class="game-item">
        <img th:src="@{'http://localhost:8080/img/games/' + ${juego.id} + '.png'}"
             alt="Imagen del juego" class="game-image"/>
        <h3 class="game-name" th:text="${juego.nombre}"></h3>
      </li>
    </ul>

    <div class="ver-mas-container">
      <span id="showMoreBtn" class="ver-mas">Ver más</span>
    </div>
  </section>
</main>

<footer class="main-footer"></footer>

<script src="/js/index.js"></script>

</body>

</html>
