<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio sesión</title>
    <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
<div class="login-container">
    <h2>Iniciar sesión</h2>
    <p class="success-message" th:text="${success}" style="color: #6fe381; margin-top: 15px;"></p> <!-- Mensaje de éxito -->

    <form action="/login" method="post">
        <div class="input-group">
            <label for="email">Usuario</label>
            <input type="text" id="email" name="email" placeholder="Ingresa tu usuario" required>
        </div>
        <div class="input-group">
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" placeholder="Ingresa tu contraseña" required>

        </div>
        <p class="error-message" th:text="${error}" ></p>
        <button type="submit" class="login-btn">Iniciar sesión</button>
    </form>
    <p style="margin-top: 15px; color: #eaeaea;">
        ¿No tienes una cuenta? <a href="/registro" style="color: #6fe381;">Regístrate aquí</a>
    </p>
</div>
</body>

<!--
<script src="/js/login.js"></script> -->
</html>
